
<div class="root-container">


  <h2 class="food-menu-heading">Order List</h2>

  <div class="order-container">
    <ng-container *ngFor="let item of orderList">

      <div class="item-container">

        <div class="food-image-wrapper">
          <img  class="food-image" src="{{foodList[item.orderId].img}}" alt="">
        </div>

        <div class="order-info">
          <p  class="food-name">{{foodList[item.orderId].name}}</p>
          <p class="subtitle">Customer Name : {{item.name}}</p>
          <p class="subtitle">Serving Status : Pending</p>

          <button (click)="cancelOrder(item.orderId)" class="mat-elevation-z1 cancel-btn" mat-button>Cancel</button>

        </div>


      </div>

    </ng-container>

  </div>

</div>


