<nav class="navbar">
  <div class="navbar-container ">

    <ul class="menu-items">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/foodMenu">Menu</a></li>
      <li><a routerLink="/orders">
        Orders
        <span *ngIf="orderList" class="order-count">{{orderList?.length}}</span>
      </a></li>
      <li><a routerLink="testimonial">Testimonial</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
    <h1 class="logo">KK</h1>
  </div>
</nav>


<div class="main-container">
  <router-outlet></router-outlet>
</div>

