<div class="root-container">

  <div class="img-section">
    <img class="img" src="../../../assets/images/contact_us.jpg">
  </div>

  <div class="contact-section flex flex-col items-center">
    <h2>Fill your detail</h2>

    <form  [formGroup]="form">
      <div class="flex flex-col gap-0.5">
        <mat-form-field  class="text-sm" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name"
                 placeholder="Enter Name">
          <mat-error *ngIf="form.get('name')?.hasError('required')">
            Field is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field  class="text-sm" appearance="fill">
          <mat-label>Contact</mat-label>
          <input type="text" matInput formControlName="contact"
                 placeholder="Enter Contact">
          <mat-error *ngIf="form.get('contact')?.hasError('invalid')">
            Enter a valid contact number
          </mat-error>
        </mat-form-field>


        <mat-form-field class="text-sm"  appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email"
                 placeholder="Enter email ">
          <mat-error *ngIf="form.get('contact')?.hasError('invalid')">
            Enter a valid email address!
          </mat-error>
        </mat-form-field>

        <div  class="items-end flex flex-row justify-center">
          <button type="submit"  class=" mat-elevation-z4 rounded-full text-m p-2 pr-5 pl-5"
                  (click)="orderPlace()" [disabled]="form.invalid">Place Order
          </button>
        </div>

      </div>


    </form>

  </div>

</div>
