<div class="root-container">
  <h2 class="testimonial-title">What our customer say</h2>
  <div class="testimonial-container container">
    <div class="testimonial-box">
      <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloribus id placeat
        sunt maiores repellat.</p>
      <div class="customer-details">
        <div class="customer-photo">
          <img src="../../../assets/images/testimonial_1.jpg" alt="">
          <p class="customer-name">Leonardo dicaperio</p>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloribus id placeat
        sunt maiores repellat.</p>
      <div class="customer-details">
        <div class="customer-photo">
          <img src="../../../assets/images/testimonial_2.jpg" alt="">
          <p class="customer-name">Katherine langford</p>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="star-rating">
        <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloribus id
          placeat sunt maiores repellat.</p>
        <div class="customer-details">
          <div class="customer-photo">
            <img src="../../../assets/images/testimonial_3.jpg" alt="">
            <p class="customer-name">Brad Pitt</p>
          </div>
        </div>
      </div>
    </div>
</div>
