<div class="root-container">
  <div class="about-wrapper">
    <div class="about-text">
      <p class="small"> About us</p>
      <h2>We've been making healthy food for last 10 years</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque id cupiditate odio voluptate. Sed nemo, atque
        possimus repellat laborum, consectetur dignissimos voluptates, cumque suscipit nulla perspiciatis officia animi
        velit itaque repudiandae ipsa ut explicabo doloribus? Nostrum in numquam quas enim?</p>
    </div>
    <div class="about-img">
      <img src="../../../assets/images/healthy_food.jpg" alt="About us">
    </div>
  </div>
</div>
